<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Ecommerce Website {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      <section class="hero">
        <div class="header">
          <h1>Welcome to Book<span class="highlight">Store</span></h1>
        </div>
        <div class="sub-header">
          <h2>Best place to buy books</h2>
        </div>
      </section>
      <section class="filters">
        <form action="/" method="POST" class="filters-container">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" value="Search" class="filter-item submit" />
        </form>
      </section>
      <section class="products-container">
        <div class="products">
          {% for book in books %}
          <div class="product-item">
            <a href="{% url 'details' book.id %}">
              <div class="container">
                <div class="image">
                  <h1 class="image-title">{{ book.title }}</h1>
                  <h2 class="image-author">{{ book.author }}</h2>
                </div>
              </div>
              <div class="container">
                <div class="title">
                  <h1>{{ book.title }}</h1>
                </div>
              </div>
              <div class="container">
                <div class="price">
                  <h1>{{ book.price }}$</h1>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </section>
      {% endblock %}
    </main>

    <footer>
      <p class="credits">
        Created by
        <a href="http://github.com/kapiw04" class="highlight"
          >Kacper Wojtowicz</a
        >
        <a
          href="https://www.kaggle.com/datasets/drahulsingh/best-selling-books"
          class="dataset"
          >Dataset used</a
        >
      </p>
    </footer>
  </body>
</html>
