<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>BookStore</h1>
    <ul>
        {% for book in books %}
            <li>{{ book.title }} - {{ book.author }}</li>
            <p>
                id: {{ book.id }}<br>
                title: {{ book.title }}<br>
                author: {{ book.author }}<br>
                original_language: {{ book.original_language }}<br>
                first_published: {{ book.first_published }}<br>
                sales_in_millions: {{ book.sales_in_millions }}<br>
                genre: {{ book.genre }}<br>
            </p>
        {% endfor %}
    </ul>
</body>
</html>