{% extends 'index.html' %} {% block title %}
  Checkout
{% endblock %}

{% block hero_head %}
  Checkout
{% endblock %}

{% block hero_sub %}
  Total: ${{ order.total }}
{% endblock %}

{% block content %}
  {# prettier-ignore #}
  <div class="container">
    <form method="POST" action="{% url 'completeOrder' order_id=order.id %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="m-2">
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" name="name" placeholder="First name" required>
              <label for="name">First name</label>
              <div class="invalid-feedback">Invalid name</div>
          </div>
      
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name" required>
              <label for="last_name">Last name</label>
              <div class="invalid-feedback">Invalid last name</div>
          </div>
      
          <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
              <label for="email">Email</label>
              <div class="invalid-feedback">Invalid email</div>
          </div>
      
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
              <label for="address">Address</label>
              <div class="invalid-feedback">Invalid address</div>
          </div>
      
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code" required>
              <label for="zipcode">Zip Code</label>
              <div class="invalid-feedback">Invalid zipcode</div>
          </div>
      
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
              <label for="city">City</label>
              <div class="invalid-feedback">Invalid city</div>
          </div>
      
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
              <label for="state">State</label>
              <div class="invalid-feedback">Invalid
                state
              </div>
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Pay</button>     
      
      </form>
  </div>

  <script>
    const form = document.querySelector('form')
    
    form.addEventListener('submit', (e) => {
      if (form.checkValidity() === false) {
        e.preventDefault()
        e.stopPropagation()
      }
      form.classList.add('was-validated')
    })
  </script>
{% endblock %}
