<!-- prettier-ignore -->
{% extends "index.html" %}
{% block title %}
  {{ book.title }}- Details
{% endblock %}

{% block hero_head %}
  {{ book.title }}
{% endblock %}

{% block hero_sub %}
  by {{ book.author }}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 mb-4 d-flex align-items-start">
        <img src="{{ book.cover_image }}" alt="Cover image of {{ book.title }}" class="img-fluid" style="height: 500px;" />
      </div>

      <div class="col-md-6 mb-4">
        <h2 class="display-4">${{ book.price }}</h2>
        <a href="{% url 'addToCart' book.id %}" class="btn btn-primary my-3">Add to Cart</a> <!-- Added my-3 to give space above and below the button -->

        <ul class="list-group list-group-flush mt-4">
          <li class="list-group-item">
            <strong>Author:</strong> {{ book.author }}
          </li>
          <li class="list-group-item">
            <strong>Original Language:</strong> {{ book.original_language }}
          </li>
          <li class="list-group-item">
            <strong>First Published:</strong> {{ book.first_published }}
          </li>
          <li class="list-group-item">
            <strong>Sales:</strong> {{ book.sales_in_millions }} 000 000
          </li>
          <li class="list-group-item">
            <strong>Genre:</strong>
            {% if book.genre %}
              {{ book.genre }}
            {% else %}
              -
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
