<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load compress %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        BookStore
      {% endblock %}
    </title>
    {% compress css %}
    {% comment %} <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}" /> {% endcomment %}
    {% endcompress %}
    <!-- CSS link -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> {% endcomment %}
  </head>
  <body>
    <main>
      <!-- prettier-ignore -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% block content %}
        <section class="hero">
          <div class="header">
            <h1>Welcome to Book<span class="highlight">Store</span></h1>
          </div>
          <div class="sub-header">
            <h2>Best place to buy books</h2>
          </div>
        </section>
        <section class="filters">
          <form action="/" method="POST" class="filters-container">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Search" class="filter-item submit" />
          </form>
        </section>
        <section class="products-container">
          <div class="products">
            {% for book in books %}
              <div class="product-item">
                <a href="{% url 'details' book.id %}">
                  <div class="container">
                    <div class="image">
                      <img src="{{ book.cover_image }}" alt="{{ book.title }}" />
                    </div>
                    <div class="container">
                      <div class="title">
                        <h1>{{ book.title }}</h1>
                      </div>
                      <div class="container">
                        <div class="price">
                          <h1>{{ book.price }}</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </section>
      {% endblock %}
    </main>

    <footer>
      <p class="credits">
        Created by
        <a href="http://github.com/kapiw04" class="highlight">Kacper Wojtowicz</a>
        <a href="https://www.kaggle.com/datasets/drahulsingh/best-selling-books" class="dataset">Dataset used</a>
      </p>
    </footer>
  </body>
</html>

{% comment %} <div class="container">
  <div class="image">
    <h1 class="image-title">{{ book.title }}</h1>
    <h2 class="image-author">{{ book.author }}</h2>
  </div>
</div> {% endcomment %}
